
/* main */
#shk_prodHelper
{
    position: absolute;
    z-index: 100;

    display: none;

    width: 150px;
    padding: 5px;

    border: 1px solid #888;
    border-radius: 4px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 8px #b2b2b2;
}
#shk_prodHelper div
{
    padding: 5px 0;

    text-align: center;
}
.shk_loading
{
    position: absolute;
    z-index: 100;

    display: none;

    width: 30px;
    height: 30px;

    border: 1px solid #888;
    border-radius: 4px;
    background: url('ajax-loader.gif') center center no-repeat #fff;
}

/* addit */
#shk_prodHelperName
{
    overflow: hidden;

    width: 95%;
    margin: 0 auto;

    white-space: nowrap;
    text-overflow: ellipsis;
}
#shk_prodHelper input[type='text']
{
    font-size: 12px;

    padding: 2px 5px;

    text-align: center;

    border: 1px solid #888;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #b2b2b2 inset;
}
#shk_prodHelperName .msg
{
    width: 100%;

    white-space: normal;
    text-overflow: clip;
}

.relative
{
    position: relative;

    width: 100%;
}
.error
{
    color: red;
}
.price-add
{
    line-height: 0;

    padding-left: 3px;

    color: red;
}
.shk_count_button
{
    width: 26px;
    height: 28px;
    margin: 0;
    padding: 0;

    white-space: nowrap;

    border: 0; /*border-radius: 13px;*/
}
.shk-but
{
    margin: 0 4px;
}
.shk-count
{
    padding: 2px;

    text-align: center;
}

/* materials */
.materials
{
    padding: 5px 0;
}
.materials img
{
    width: 70px;
}
.materials input
{
    cursor: pointer;
}


/*--------------------------*/

.shop-cart div.full
{
    position: absolute;
    z-index: 1;
    right: 0;

    display: none;

    width: 480px;
    padding: 10px;

    border: 8px solid #ccc;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}
.shop-cart .shop-cart-inner-wrap
{
    position: absolute;
    z-index: 1;
    right: 0;

    width: 300px;
    padding: 10px;

    border: 1px solid #dfdfdf;
    background: #fff;
}


.shop__order-form-wrap
{
    margin-top: 100px;
}
.shop__order-form td
{
    padding: 0 0 5px 0;
}

.shop__order-form td input
{
    padding: 5px;

    border: 1px solid #fb6a01;
    border-radius: 3px;
}
.shop__order-form td textarea
{
    width: 100%;
    padding: 5px;

    resize: none;

    border: 1px solid #fb6a01;
    border-radius: 3px;
}

.shop__order-form td select
{
    width: 100% !important;
    padding: 5px;

    border: 1px solid #fb6a01;
    border-radius: 3px;
}
.shop__order-form .shop__order-btn
{
    /*border: 1px solid #fb6a01;
    border-radius: 3px;
    background: #ffffff;
    color: #fb6a01;
    padding: 5px 15px;
    transition: all .2s;*/
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 16px;

    width: 70%;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 10px 10px;

    cursor: pointer;
    -webkit-transition: background .15s ease;
            transition: background .15s ease;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background: linear-gradient(to bottom,#5b985f,#175b22);
}
.shop__order-form .shop__order-btn:hover
{
    transition: all .2s;

    color: #fff;
    background: #fb6a01;
}
.basket-right
{
    text-align: center;
}
.basket-right i
{
    color: #5b985f;
}
.basket-right i:hover
{
    color: #175b22;
}
.shop-cart
{
    margin-top: 22px;
}
.empty
{
    position: absolute;
    top: 28px;
    right: -11px;
}
.shop-cart-empty
{
    font-size: 20px;
}
.shk-but
{
    font-family: 'OpenSans';
    font-size: 17px;

    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 10px 0;

    cursor: pointer;
    -webkit-transition: background .15s ease;
            transition: background .15s ease;
    text-align: center;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: 0;
    background: linear-gradient(to bottom,#5b985f,#175b22);
}
#shk_buttons .shk-but
{
    font-size: 14px;

    width: auto;
    margin: 5px 0;
    padding: 6px 14px;
}
.shk-but:hover
{
    color: #fff;
    background: linear-gradient(to bottom,#5b985f,#193c29);
}
.shk-price
{
    display: none;
}
.color-select .options .price span.btn
{
    font-size: 17px;

    margin-bottom: 20px;
}
.price-left_button,
.color-select .options .price span.btn
{
    display: inline-block;

    width: 47%!important;

    vertical-align: top;
}
.price-right_button{
    width: 50%;
}
.order-button-mobil .btn{
    font-family: "OpenSans";
    font-size: 26px;
    width: 70%;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    background: linear-gradient(to bottom,#5b985f,#175b22);
    margin-bottom: 40px;
    margin-top: 5px;
    outline: 0;
    -webkit-transition: background .15s ease;
    transition: background .15s ease;
    cursor: pointer;

    display: inline-block;
    width: 47%!important;
    vertical-align: top;
    font-size: 14px;
    margin-bottom: 20px;

}
#shk_prodHelper
{
    z-index: 99999;
}
.order-button
{
    margin: 22px 0 10px;

    text-align: right;
}
#shk_butOrder
{
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 16px;

    width: 70%;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 10px 10px;

    cursor: pointer;
    -webkit-transition: background .15s ease;
            transition: background .15s ease;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 10px;
    outline: 0;
    background: linear-gradient(to bottom,#5b985f,#175b22);
}
#shk_butOrder:hover
{
    color: #fff;
    background: linear-gradient(to bottom,#5b985f,#193c29);
}
#shk_butEmptyCart
{
    font-size: 16px;

    padding-bottom: 0;

    cursor: pointer;
    text-decoration: none;

    color: #6ab9e1;
    border-bottom: dotted 1px #6ab9e1;
}
.basket-clear
{
    margin-bottom: 15px;
}
.shk-del img
{
    margin-top: -3px;
}
.shop__order-form .size-h3,
.shop__order-form h3
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

    margin: 30px 0 20px;

    color: #f5733b;
}
.shop__order-form .size-h3 .step,
.shop__order-form h3 .step
{
    font-weight: 700;
    line-height: 22px;

    display: inline-block;

    width: 30px;
    height: 30px;

    text-align: center;

    border: 4px solid #f5733b;
    border-radius: 50%;
}
.shop__order-form .col-lg-4
{
    font-size: 16px;
    font-weight: 400;

    color: #4c4849;
}
.shop__order-form input[type=text]
{
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;

    height: 45px;
    margin-top: 5px;

    color: #7d7d7d!important;
    border: 1px solid #ccd5e1;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 rgba(97,97,97,.1);
}
input.required,
input[required],
textarea[required]
{
    background: url(img/required.png) right top no-repeat;
}
.shop__order-form p.addr-t
{
    font-size: 18px;
    font-weight: 400;

    color: #4c4849;
}
.shop__order-form textarea
{
    font-size: 16px;
    font-weight: 500;

    width: 570px;
    height: 85px;
    padding: 6px 12px;

    resize: none;

    color: #7d7d7d!important;
    border: 1px solid #ccd5e1;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 rgba(97,97,97,.1);
}
.shop__order-form .last-step .comment
{
    font-size: 16px;
    font-weight: 500;

    width: 440px;
    height: 195px;
    padding: 6px 12px;

    resize: none;

    color: #7d7d7d!important;
    border: 1px solid #ccd5e1;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 rgba(97,97,97,.1);
}
textarea
{
    overflow: auto;
}
.orange-button:hover
{
    text-decoration: none;

    color: #fff;
    background: linear-gradient(to bottom,#5b985f,#193c29);
}
.orange-button
{
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;

    display: inline-block;

    height: 53px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 2px;
    background: linear-gradient(to bottom,#5b985f,#175b22);
}
.shop__order-form .comment
{
    font-weight: 500;
    /*width: 440px;*/

    height: 195px;

    border: 1px solid #ccd5e1;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 rgba(97,97,97,.1);
}
label
{
    font-weight: bold;

    display: inline-block;

    max-width: 100%;
    margin-bottom: 5px;
}
.shop__order-form label
{
    font-size: 14px;
    font-weight: 400;
    line-height: 58px;

    position: relative;

    display: block;
    float: left;

    width: 225px;
    height: 125px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 1px;

    cursor: pointer;

    color: #4c4849;
    border: 1px solid #e9eef3;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
}
.shop__order-form label.delivery
{
    width: 315px;
    height: 140px;
}
.shop__order-form input[type=radio]:checked + label
{
    line-height: 56px;

    padding: 0;

    border: 2px solid #f26122;
}
.shop__order-form input[type=radio]:not(:disabled) + label:hover
{
    padding: 1px;

    border: 1px solid #f26122;
}
.shop__order-form label.delivery:last-of-type
{
    margin-right: 0;
}
.shop__order-form label .dost-img
{
    display: inline-block;

    width: 58px;
    height: 50px;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center center;
}
.shop__order-form label.delivery .dost-img
{
    height: 80px;
}
.shop__order-form label .otb
{
    font-weight: 500;
    line-height: 20px;

    display: inline-block;

    width: 150px;
    padding-right: 5px;

    vertical-align: middle;

    border-radius: 2px;
}
.shop__order-form label.delivery .otb
{
    width: 245px;
}
input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}
input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}
.shop__order-form input[type=radio]
{
    display: none;
}
.shop__order-form label .info
{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    display: inline-block;

    width: 100%;
    margin-top: -10px;
    padding-right: 10px;
    padding-left: 10px;

    vertical-align: middle;

    color: #9e9a9b;
}
.shop__order-form label.delivery .info
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-top: 0;
    padding-right: 10px;
    padding-left: 10px;

    vertical-align: top;

    color: #9e9a9b;
}
.shop__order-form label .price
{
    font-size: 14px;
    font-weight: 300;

    color: #9e9a9b;
}
.shop__order-form label.delivery .price
{
    color: #4a8eaa;
}
.shop__order-form label .check
{
    display: none;
}
.shop__order-form input[type=radio]:checked + label .check
{
    line-height: 10px;

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 25px;
    height: 25px;

    text-align: right;
}
.shop__order-form input[type=radio]:checked + label .check i
{
    font-size: 12px;

    position: relative;

    color: #fff;
}
.shop__order-form input[type=radio]:checked + label .check:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    content: '';

    border-top: 25px solid #f26122;
    border-left: 25px solid transparent;
}
textarea[name=address]
{
    background: url(img/required.png) right top no-repeat;
}
.form-end-thanks
{
    font-size: 45px;

    margin-top: 45px;

    text-align: center;
}
.form-end-message
{
    font-size: 16px;

    margin: 20px 0 70px;

    text-align: center;
}
.form-end-button
{
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 20px;

    width: 70%;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 10px 20px;

    -webkit-transition: background .15s ease;
            transition: background .15s ease;
    text-align: center;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: 0;
    background: linear-gradient(to bottom,#5b985f,#175b22);
}
.form-end-button:hover
{
    color: #fff;
    background: linear-gradient(to bottom,#5b985f,#193c29);
}
.wrapper-button
{
    margin-bottom: 70px;

    text-align: center;
}
.basket-mobil
{
    position: absolute;
    top: 4px;
    right: 21px;
}
.color-select .options{
    width: 48%;
    margin-right: 0;
}

@media screen and (max-width: 1300px){
    .color-select .options {
        width: 47%;
    }
}



@media (max-width: 992px){
    .price-left_button{
        width: 100% !important;
    }
    .price-right_button{
        width: 100% ;
        padding: 0;
        margin: 0;
    }
    .price-left_button,
    .color-select .options .price span.btn
    {
        display: inline-block;

        width: 100%!important;

        vertical-align: top;
    }
}
    @media (max-width: 767px)
{
    header .logo-menu
    {
        position: static;
    }
    header .row .left .logo-menu .h-wrap
    {
        top: 16px!important;
        left: 21px;

        width: 40px;
        height: 20px;
    }
    .shop-cart
    {
        margin: 0;
    }
    .cart-order .shk-del img
    {
        width: 17px!important;
    }
    .order-button-mobil .shk-but,
    .order-button-mobil .btn{
								display: inline-block!important;
				    width: 47%!important;
				    vertical-align: top;
				    font-size: 17px;
				    margin-bottom: 20px;
                    min-height: 48px;
				}
				.selectable_param{
								text-align: left;
								font-size: 14px;
								margin-left: 20px;
				}
				.big-img{
								float: none;
				}
				.shop__order-form input[type=text]{
								margin-bottom: 10px;
				}
				.shop__order-form .size-h3, 
				.shop__order-form h3{
								font-size: 18px;
				}
				.shop__order-form .col-lg-4,
				.shop__order-form p.addr-t{
								font-size: 14px;
				}
				.shop__order-form textarea{
								font-size: 13px;
				}
				.shop__order-form textarea{
								width: 100%;
				}
				.shop__order-form label.delivery .otb{
								width: 200px;

				}
				.shop__order-form label{
								margin: 15px 15px 0 0;
				}
				.orange-button{
								font-size: 16px;
								line-height: 40px;
								height: 40px;
				}
				.block-button{
								text-align: center;
				}
    .color-select .options{
        width: 100%;
    }
        .color-select .options .price span.btn {
            display: inline-block;
            width: 50%!important;
            vertical-align: top;
        }
    .selectable_param p span,
    .selectable_param select{
        font-size: 14px;
    }
    .color-select .options .size-material p{
        margin-left: 20px;
    }

}
@media (max-width: 510px)
{
    .shop-cart div.full
    {
        width: 404px;
    }
    .empty .dropdown-menu{
    				width: 404px;
    }
}
@media (max-width: 450px){
    .color-select .options .price span.btn {
        width: 100%!important;
    }
    .order-button-mobil .shk-but{
        width: 100% !important;
        margin: 0 0 20px 0;
    }

}
@media (max-width: 430px)
{
    .shop-cart div.full
    {
        right: -13px;

        width: 320px;
    }
    .shk-count
    {
        width: 30px;
        height: 20px;
    }
    .cart-order
    {
        font-size: 12px;
    }
    .shk_count_button
    {
        width: 20px;
        height: 20px;
    }
    .basket-mobil #shk_butOrder
    {
        font-size: 12px;

        padding: 7px 10px;
    }
    .basket-mobil #shk_butEmptyCart
    {
        font-size: 14px;
    }
    .basket-mobil
    {
        right: 13px;
    }
    header .row .left .logo-menu .h-wrap{
    				left: 13px;
    }
    .empty .dropdown-menu{
    				width: 320px;
    }
    .order-button-mobil .shk-but,
    .order-button-mobil .btn{
    				font-size: 17px;
    }
}
